<%- include('./inc/header.ejs') -%>

		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!-- <% if (typeof message !== 'undefined') { %>
											<div style="color: rgb(81, 255, 0);"><%= message %></div>
											<% } %> -->
				<h1>WECOME TO ADMIN !</h1>
				
			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->

<%- include('./inc/footer.ejs') -%>